/* Base styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

h1 {
    font-size: 40px;

}

h2 {
    font-size: 38px;
}

p {
    font-size: 20px;
}

li {
    font-size: 20px;
    line-height: 1.4;
}

/* Style for the div */
.full-height-div {
    min-height: 100vh; /* Full height of the viewport */
    width: 100%; /* Maximum width */
    margin: 0 auto; /* Center the div horizontally */
    padding-top: 60px; /* Optional padding */
    padding-bottom: 20px; /* Optional padding */
}

.ContentSection{
    width: 100%; 
}





.facebookCentre {
    height: 100%;




}

.flexCentre {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.innerWrap {

    padding-right: 20px;
    padding-left: 20px;
    max-width: 420px;
}

.pageColumnsHeaderContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width:100%;
}

.pageColumnsFooterContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width:100%;
}

.pageColumnsHeader{
    max-width: 1240px;
    width: 100%;
    align-items: center;
    justify-content: left;
    padding:10px;
}

.viewColumns{
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-wrap: wrap;
    gap:40px
    
}

.imageColumn{
    display: flex;
    flex-direction: column;

    flex-wrap: wrap;
    gap:40px
}

.divBlock {
     
        padding-top: 50px;
        flex-direction: row;
        display: flex;
        justify-content: space-between;
        gap:20px;

}

.headline {
    max-width: 520px;
    font-size: 38px;
    color: white;
    line-height: 1.2;
}



.headline2 {
    max-width: 520px;
    font-size: 24px;
    color: white;
    line-height: 1.2;
}

.headlineFont{
    font-family: Volkhov;
}

.freeTrialButton,
.heroButton {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    font-size: 18px;
    transition-duration: .2s;
    width: 160px;
    text-decoration: none;
    background-color: red;
    border: 1px solid red;
    color: white;
    padding: 10px 16px;
    border-radius: 3px;
}

.heroButton {
    width: 160px;
}

.freeTrialButton {
    width: 200px;
}

.freeTrialButton:hover, 
.freeTrialButton:active, 
.freeTrialButton:focus,
.heroButton:hover,
.heroButton:focus,
.heroButton.active {
  /* let's darken #004E64 a bit for hover effect */
  background: lightgray;
  color: white;
  border-color: lightgray;
}

.whiteButton {
    background-color: white;
    border: 1px solid white;
    color: red;
}



.heroImage {
    width: 270px;
    max-width: 100%;
}


.marginRight30 {
    margin-right: 30px;
}

.columnTextSingle{
    max-width: 1240px;
    padding:10px;
}

.columnText{
    max-width: 800px;
    padding:10px;
}

.columnImage {
    max-width: 400px;
    width:100%;
    border-radius: 15px;
    box-shadow: 2px 8px 8px rgba(0, 0, 0, 0.4);
}


.gray {
    background-color: rgb(209, 207, 207) ;
}

.white {
    background-color: white ;
    color: #333;;
}
.white h1{
    color: red;
}
.white h2{
    color: red;
}

.red {
    color: white ;
    background-color: red;
}

.icon{
    width:30px;
    padding-left: 10;
}

/* Page header */
.pageH1 {
    font-size: 30px;
}


/* Email Form */
.form-body {
    border-color: #333;
    border-width: 1px;
    border-style:solid;
    padding-top: 10px;
    padding-bottom: 10px;
    
    padding-inline: 30px;

    border-radius: 20px;


    background-color: lightgray;

}

.form-field {
    background: #eee;
    border: none;
    border-radius: 5px;
    color: #333;
    padding: 10px;
    width: 300px;
    font-size: 18px;

}

.formButton{


        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: 500;
        font-size: 18px;
        transition-duration: .2s;
        width: 180px;
        text-decoration: none;
        background-color: white;
        border: 1px solid white;
        color: rgb(69, 69, 69);
        padding: 10px 16px;
        border-radius: 3px;
        cursor: pointer;

}

.formButton:hover,
.formButton:active,
.formButton:focus,
.formButton.active {
  /* let's darken #004E64 a bit for hover effect */
  background: rgb(69, 69, 69);
  color: white;
  border-color: rgb(69, 69, 69);
}

.form-group {
    padding-top:20px;
}

.form-label {
    font-size: 20px;
    color: #333;
}

.input-group{
    padding-top: 8px;
}


 /* Nav Menu */

 .dropdown-item:hover {
    background-color:#e1e4e9!Important;
    color: lightgrey;
  }




  .header{
    height:60px;
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #333;
    position: sticky;
    top: 0;
    width: 100%;

    z-index: 1000;
  }

  .menuButton{
    margin-top: 10px;
}

.headerImageDiv{
    height: 100%;
    align-content: center;
}

.headerImage {
    width: 80px;
    max-width: 100%;
}


@media (min-width: 600px) { 
    /* desktop view */
    /* Apply to screens 600 or greater*/

    .Image1_Section {
        background-image: linear-gradient(270deg, rgba(0, 0, 0, 0.59), rgba(0, 0, 0, 0.59)), url(images/FrontPage.jpg);
        height: 94vh;
        background-blend-mode: darken;
        text-align: center;
        min-height: 600px;
        width: 100%;
        background-size: cover;
        background-repeat: repeat;
        
        background-position: center;
    }

    .headline {
        text-align: left;
    }

    .headline2 {
        text-align: left;
    }

    .nav-link {
        color:white!important;
      }
    .nav-link:hover {
        color:lightgrey!important;
      }
  
    .mobile-show {
      display: block;
    }

    .show-menu {
        display: none;
      }
}

@media (max-width: 600px) { 
    /* small view */
    /* Apply to screens less than 600 */

    /* Hide scrollbar for Chrome, Safari and Opera */
    ::-webkit-scrollbar {
        display: none;
    }
    
    /* Hide scrollbar for IE, Edge and Firefox */
    html {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }

    .Image1_Section {
        background-image: linear-gradient(270deg, rgba(0, 0, 0, 0.59), rgba(0, 0, 0, 0.59)), url(images/FrontPageCrop.jpg);
        height: 94vh;
        background-blend-mode: darken;
        text-align: center;
        min-height: 600px;
        width: 100%;
        background-size: cover;
        background-repeat: repeat;
        
        background-position: center;
    }

    .headline {
        text-align: center;
        padding-bottom: 20px;
    }

    .headline2 {
        text-align: center;
    }

    .nav-link {
        color:#333!important;
      }
    .nav-link:hover {
        color:lightgrey!important;
      }

    .mobile-show {
        display: none;
      }

    .mobile-hide {
        display: none;
      }


    .show-menu {
      display: block;
    }

    .navTitle {
      font-size: 58px!important;
    }

    .navText{
      font-size: 36px;
      padding-top: 0px;
    }

    .navSmallText{
      font-size: 20px;
      padding-bottom: 16px;
    }

  }